/* 메신저 드롭다운 css */
.messengerbtn {
    border: 0;
    background-color: white;
    position: relative;
    display: inline-block;
    margin-top: 9px;
    margin-right: 10px;
}
#messengerImg {
    width: 55px;
    height: 55px;
}
.messenger-area {
    border: 2px solid rgb(230, 230, 230);
    border-radius: 0.7em;
    display: none;
    position: absolute;
    z-index: 1;
    width: 500px;
    height: 800px;
    right: 5px;
    background-color: white;
    text-align: center;
}
.messengerbtn:hover .messenger-area {
    display: block;
}
.tab {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    color: gray;
    font-size: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
.tab.active {
    color: black;
}
.tab-content {
    padding: 20px;
    text-align: left;
}
.list-area{
    overflow: auto;
}
.title{
    margin-bottom: 7px;
}

/* 채팅리스트 css */
.list-area{
    height: 640px;
    overflow: auto;
}
.list-set {
    display: flex;
    align-items: center;
    padding: 16px;
  }
.list-set:hover{
    background-color: lightgray;
    cursor: pointer;
}
.list-set>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
}
.chat-content {
    flex: 1;
}
.chat-info, .preview-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-name {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}
.chat-time {
    margin: 0;
    font-size: 14px;
    color: #9B9B9B;
}
.chat-preview {
    margin: 8px 0 0 0;
    font-size: 16px;
    color: #4F4F4F;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 300px;
    display: inline-block;
}
.loginCheck{
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
.notread{
    margin: 8px 5px 0 0;
    color: red;
    font-weight: bold;
}

/* 주소록 css */
.address-div{
    margin-left: 10px;
    overflow: auto;
    width: 450px;
    height: 600px;
    font-size: 20px;
}
.address-div li, .dept{
    margin-top: 5px;
    margin-bottom: 5px;
}
.address-div *:hover{
    cursor: pointer;
}
.member:hover{
    color:#7291f6;
}
.accordion{
    margin-left: 20px; 
    display:none;
}

/* 채팅창 css */
.chat-area{
    /* display: none; */
    border: 1px solid lightgray;
    border-radius:10px;
    margin-bottom: 10px;
    width: 456px;
    height: 520px;
    overflow: auto;
}
.chat-message.other, .send-user{
    display: flex;
    margin-left: 5px;
}
.chat-message.mine{
    justify-content:flex-end;
    display: flex;
    margin:10px 5px;
}
.chat-message .send-message{
  padding: 5px 7px;
  border-radius: 10px;
  max-width: 190px;
  font-size:0.9em;
  white-space: pre-line;
}
.send-message{
    margin-top: 5px;
    display: inline-block;
}
.time-td{
    vertical-align: bottom;
}
.time-div{
    vertical-align: bottom;
    display: inline-block;
}
.sendtime{
    font-size: 10px;
    color: gray;
}
.chat-message.other .send-message{
    background: lightgray;
}
.chat-message.mine .send-message{
    background: #FFE08C;
}
.date-div{
    text-align: center !important;
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}

