<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 연결할 db에 대한 정보는 root-context.xml 파일에 작성 예정 -->
	
	<!-- 유의사항 : 미리등록해두려면 해당 클래스가 진짜 존재해야됨 -->
	<typeAliases>
		<typeAlias type="com.aw.anyware.approval.vo.Approval" alias="Approval"/> 
		<typeAlias type="com.aw.anyware.approval.vo.ApproTpl" alias="ApproTpl"/>
		<typeAlias type="com.aw.anyware.mail.model.vo.Mail" alias="Mail"/>
		<typeAlias type="com.aw.anyware.mail.model.vo.MailStatus" alias="MailStatus"/>
		<typeAlias type="com.aw.anyware.mail.model.vo.MailFile" alias="MailFile"/>
		<typeAlias type="com.aw.anyware.mail.model.vo.AddressBook" alias="AddressBook"/>
		<typeAlias type="com.aw.anyware.mail.model.vo.AddressGroup" alias="AddressGroup"/>
		<typeAlias type="com.aw.anyware.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.aw.anyware.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.aw.anyware.member.model.vo.Commute" alias="Commute"/>
		<typeAlias type="com.aw.anyware.member.model.vo.LeaveOff" alias="LeaveOff"/>
		<typeAlias type="com.aw.anyware.board.model.vo.Reply" alias="Reply"/>
		<typeAlias type="com.aw.anyware.project.model.vo.Project" alias="Project" />
		<typeAlias type="com.aw.anyware.project.model.vo.ProjectMember" alias="ProjectMember" />
		<typeAlias type="com.aw.anyware.project.model.vo.List" alias="PjList" />
		<typeAlias type="com.aw.anyware.project.model.vo.Todo" alias="Todo" />
		<typeAlias type="com.aw.anyware.project.model.vo.ListChat" alias="ListChat" />
		<typeAlias type="com.aw.anyware.project.model.vo.PjSchedule" alias="PjSchedule" />
		<typeAlias type="com.aw.anyware.project.model.vo.Like" alias="Like" />
		<typeAlias type="com.aw.anyware.groupMap.model.vo.GroupMap" alias="GroupMap"/>
		<typeAlias type="com.aw.anyware.schedule.model.vo.Calendar" alias="Calendar" />
		<typeAlias type="com.aw.anyware.schedule.model.vo.Schedule" alias="Schedule" />
		<typeAlias type="com.aw.anyware.project.model.vo.PjMem" alias="PjMem" />

	</typeAliases>
	
	
	<!-- 유의사항 : 미리등록해두려면 해당 mapper파일이 진짜 존재해야됨, namespace도 지정되어있어야됨 -->
	<mappers>
		<mapper resource="/mappers/approval-mapper.xml"/> 
		<mapper resource="/mappers/mail-mapper.xml"/> 
		<mapper resource="/mappers/board-mapper.xml"/> 
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/schedule-mapper.xml"/>
		<mapper resource="/mappers/project-mapper.xml"/>
		<mapper resource="/mappers/groupMap-mapper.xml"/>
		<mapper resource="/mappers/chat-mapper.xml"/>
	</mappers>
	
</configuration>
