<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">
  
	<resultMap id="approvalResult" type="Approval">
		<id column="appro_no" property="approNo"/>
		<result column="writer_name" property="writerName"/>
		<result column="writer_job" property="writerJob"/>
		<result column="writer_dept" property="writerDept"/>
		
		<result column="tpl_title" property="tplTitle"/>
		<result column="appro_title" property="approTitle"/>
		<result column="appro_content" property="approContent"/>
		
		<result column="inter_no" property="interNo"/>
		<result column="inter_name" property="interName"/>
		<result column="inter_job" property="interJob"/>
		<result column="inter_dept" property="interDept"/>
		
		<result column="inter_appro" property="interAppro"/>
		
		<result column="final_no" property="finalNo"/>
		<result column="final_name" property="finalName"/>
		<result column="final_job" property="finalJob"/>
		<result column="final_dept" property="finalDept"/>
		
		<result column="final_appro" property="finalAppro"/>
		
		<result column="create_date" property="createDate"/>
	</resultMap>
	
	<resultMap id="memberResult" type="Member">
		<id column="member_no" property="memberNo"/>
		<result column="name" property="name"/>
		<result column="job_name" property="jobName"/>
		<result column="dept_name" property="deptName"/>
	</resultMap>
	
	<resultMap id="tplResult" type="ApproTpl">
		<id column="tpl_no" property="tplNo"/>
		<result column="tpl_title" property="tplTitle"/>
		<result column="tpl_content" property="tplContent"/>
	</resultMap>
	
	<!-- ==================================================================== -->

	<sql id="ingCount">
		select count(*)
		  from tb_approval
		 where status = 'Y'
	   and not inter_appro = '반려'  
		   and final_appro = '대기'
	</sql>
	
	<sql id="endCount">
		select count(*)
		  from tb_approval
		 where status = 'Y'
	       and (
       				inter_appro = '반려' 
       		     or final_appro in ('결재', '반려')
       		     or (
       		     	     inter_appro = '결재'
       		     	 and final_appro = '결재'	
       		     	)
       		    )
	</sql>
	
	<select id="ingCountAll" resultType="_int">
		<include refid="ingCount"/>
		and(
				member_no = #{userNo}
			 or (
					inter_appro = '대기' 
	       		and inter_no = #{userNo} 
	        	 or inter_appro = '결재'	
				and final_no = #{userNo}
				)
			or  (
					    inter_appro = '대기' 
				    and final_no = #{userNo}	
				)
			)
	</select>
	
	<select id="ingCountContinue" resultType="_int">
		<include refid="ingCount"/>
		and member_no = #{userNo}
	</select>
	
	<select id="ingCountWait" resultType="_int">
		<include refid="ingCount"/>
		and (
				inter_appro = '대기' 
       		and inter_no = #{userNo} 
        	 or inter_appro = '결재'	
			and final_no = #{userNo}
			)
	</select>
	
	<select id="ingCountExpected" resultType="_int">
		<include refid="ingCount"/>
		 and inter_appro = '대기' 
		 and final_no = #{userNo}	
	</select>
	
	<select id="ingCountRef" resultType="_int">
		select count(*)
		  from tb_app_ref r
    inner join tb_approval a on ( r.appro_no = a.appro_no )
         where a.status = 'Y'
	   and not inter_appro = '반려'  
		   and final_appro = '대기'
		   and ref_lvl = '참조'
		   and r.member_no = #{userNo}
	</select>
	
	<select id="ingArrayRef" resultType="int">
		select r.appro_no
		  from tb_app_ref r
    inner join tb_approval a on ( r.appro_no = a.appro_no )
         where r.status = 'Y'
	   and not inter_appro = '반려'  
		   and final_appro = '대기'
		   and ref_lvl = '참조'
		   and r.member_no = #{userNo}
	</select>
	
	<select id="endCountAll" resultType="_int">
		<include refid="endCount"/>
			and ( 	
				member_no = #{userNo}	
			or
				(
				   inter_no = #{userNo} 
				or final_no = #{userNo}
				)
			)
	</select>
	
	<select id="endCountSuggest" resultType="_int">
		<include refid="endCount"/>
		and member_no = #{userNo}
	</select>
	
	<select id="endCountConfirm" resultType="_int">
		<include refid="endCount"/>
		and (inter_no = #{userNo} or final_no = #{userNo})
	</select>
	
	<select id="endCountOpen" resultType="_int">
        select count(*)
		  from tb_app_ref r
    inner join tb_approval a on (r.appro_no = a.appro_no)
         where a.status = 'Y'
	       and (
       				inter_appro = '반려' 
       		     or final_appro in ('결재', '반려')
       		     or (
       		     	     inter_appro = '결재'
       		     	 and final_appro = '결재'	
       		     	)
       		    )
		 and r.member_no = #{userNo}
	</select>

	<select id="endArrayOpen" resultType="int">
        select a.appro_no
		  from tb_app_ref r
    inner join tb_approval a on (r.appro_no = a.appro_no)
         where a.status = 'Y'
	       and (
       				inter_appro = '반려' 
       		     or final_appro in ('결재', '반려')
       		     or (
       		     	     inter_appro = '결재'
       		     	 and final_appro = '결재'	
       		     	)
       		    )
		 and r.member_no = #{userNo}
	</select>
	
	<!-- ========================================================================== -->
	
	<sql id="ingList">
			select appro_no
			     , m.name as writer_name
	             , m.job_name as writer_job
                 , i.name as inter_name
	             , a.inter_appro
                 , f.name as final_name
	             , a.final_appro
	             , t.tpl_title 
	             , appro_title
	             , create_date
	 	      from tb_approval a
		     inner join tb_member m on ( a.member_no = m.member_no)
	         inner join tb_member i on ( a.inter_no = i.member_no)
	         inner join tb_member f on ( a.final_no = f.member_no)
		     inner join tb_app_tpl t on ( a.tpl_no = t.tpl_no)
		     where a.status = 'Y' 
		   and not inter_appro = '반려'  
		       and final_appro = '대기'
	</sql>
	
	<sql id="endList">
			select appro_no
			     , m.name as writer_name
	             , m.job_name as writer_job
                 , i.name as inter_name
	             , a.inter_appro
                 , f.name as final_name
	             , a.final_appro
	             , t.tpl_title 
	             , appro_title
	             , create_date
	 	      from tb_approval a
		     inner join tb_member m on ( a.member_no = m.member_no)
	         inner join tb_member i on ( a.inter_no = i.member_no)
	         inner join tb_member f on ( a.final_no = f.member_no)
		     inner join tb_app_tpl t on ( a.tpl_no = t.tpl_no)
		      where a.status = 'Y'
	       and (
       				inter_appro = '반려' 
       		     or final_appro in ('결재', '반려')
       		     or (
      		     	 	 inter_appro = '결재'
       		     	 and final_appro = '결재'	
       		     	)
       		    )
	</sql>
	
	<sql id="order">
		order 
		   by appro_no asc
	</sql>
	
	<select id="ingListAll" resultMap="approvalResult">
		
		<include refid="ingList"/>
		and(
				a.member_no = #{userNo}
				
			or (
					inter_appro = '대기' 
	       		and inter_no = #{userNo} 
	        	 or inter_appro = '결재'	
				and final_no = #{userNo}
				)
				
			or  (
				    inter_appro = '대기' 
			    and final_no = #{userNo}	
				)
			)
		<include refid="order"/>
	</select>
	
	<select id="ingListContinue" resultMap="approvalResult">
		<include refid="ingList"/>
		and a.member_no = #{userNo}	
		<include refid="order"/>
	</select>
		
	<select id="ingListWait" resultMap="approvalResult">
		<include refid="ingList"/>
		and (
				inter_appro = '대기' 
       		and inter_no = #{userNo} 
        	 or inter_appro = '결재'	
			and final_no = #{userNo}
			)
		<include refid="order"/>
	</select>
		
	<select id="ingListExpected" resultMap="approvalResult">
		<include refid="ingList"/>
		 and inter_appro = '대기' 
		 and final_no = #{userNo}
		 <include refid="order"/>
	</select>
		
	<select id="ingListRef" resultMap="approvalResult">
		<include refid="ingList"/>
		and appro_no in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
		<include refid="order"/>
	</select>
		
	<select id="endListAll" resultMap="approvalResult">
		<include refid="endList"/>
		and ( 	
				a.member_no = #{userNo}	
			or
				(
				   inter_no = #{userNo} 
				or final_no = #{userNo}
				)
			)
					
		<include refid="order"/>
	</select>
		
	<select id="endListSuggest" resultMap="approvalResult">
		<include refid="endList"/>
		and a.member_no = #{userNo}	
		<include refid="order"/>
	</select>
		
	<select id="endListConfirm" resultMap="approvalResult">
		<include refid="endList"/>
		and (inter_no = #{userNo} or final_no = #{userNo})
		<include refid="order"/>
	</select>
		
	<select id="endListOpen" resultMap="approvalResult">
		<include refid="endList"/>
		and appro_no in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
		<include refid="order"/>
	</select>
		
<!-- ========================================================================================= -->		
			 
	<select id="selectAppro" resultMap="approvalResult">
			select appro_no
			     , m.name as writer_name
	             , m.job_name as writer_job
	             , m.dept_name as writer_dept
                 , i.name as inter_name
                 , i.dept_name as inter_dept
                 , i.job_name as inter_job
                 , a.inter_appro
                 , f.name as final_name
                 , f.dept_name as final_dept
                 , f.job_name as final_job
                 , a.final_appro
	             , t.tpl_title 
	             , appro_title
	             , appro_content
	             , create_date
	     from tb_approval a
	     inner join tb_member m on ( a.member_no = m.member_no)
         inner join tb_member i on ( a.inter_no = i.member_no)
         inner join tb_member f on ( a.final_no = f.member_no)
	     inner join tb_app_tpl t on ( a.tpl_no = t.tpl_no)
	    where a.status = 'Y' 
	      and a.appro_no = #{approNo}
	</select>	
 	 
 	<select id="selectRef" resultType="String">
 		    select 
      			   m.name as ref_name
		      from tb_app_ref r
		      join tb_member m on (r.member_no = m.member_no)
		     where ref_lvl = '참조'
		     and r.appro_no = #{approNo} 
 	</select>
   
 	<select id="selectOpen" resultType="String">
 		    select 
      			   m.name as ref_name
		      from tb_app_ref r
		      join tb_member m on (r.member_no = m.member_no)
		     where ref_lvl = '열람'
		     and r.appro_no = #{approNo} 
 	</select>
 	
 	<update id="confirmAppro">
 		update tb_approval
 		   set inter_appro = #{interAppro},
 		       final_appro = #{finalAppro}
 		 where appro_no = #{approNo}   	
 	</update>
   
	<!-- ======================================================================================== -->
   
	<select id="listTpl" resultMap="tplResult">
		select tpl_No
			 , tpl_Title
		  from tb_app_tpl 	 
	</select>
	
	<select id="selectTpl" resultMap="tplResult">
		select tpl_content
			 , tpl_no
		  from tb_app_tpl 	 
		 where tpl_title = #{tplTitle} 
	</select>
	
	<select id="memList" resultMap="memberResult">
		select member_no
			 , job_name
			 , name
			 , dept_name
		  from tb_member
		 where status= 'Y'
			<choose>
				<when test="condition == 'dept_name'">      
		        	and dept_name
		        </when>
		        <when test="condition == 'job_name'"> 
		         	and job_name
	         	</when>
		        <otherwise> 
		         	and name
		        </otherwise>
	        </choose>	    
      	  like '%' || #{search} || '%'
		  order
   			 by decode (job_name, '사장', 1, '부사장', 2, '이사', 3, '부장', 4, '과장', 5, '대리', 6, 7)
	</select>
   
   	<insert id="insertAppro">
   		insert
   		  into tb_approval
   		  	   (
   		  	   	  appro_no
   		  	   	, member_no
   		  	   	, tpl_no
   		  	   	, appro_title
   		  	   	, appro_content
   		  	   	, inter_no
   		  	   	, final_no
   		  	   	, create_date  
   		  	   	, inter_appro
   		  	   	, final_appro
		  	   )
		values (
				  SEQ_APPRONO.NEXTVAL
				, #{writerNo}
				, #{tplNo}
				, #{approTitle}
				, #{approContent}
				, #{interNo}
				, #{finalNo}
				, to_char(sysdate,'YYYY-MM-DD')
				, '대기'
				, '대기'
				)  	   
   	
   	</insert>
   
   	<insert id="insertRef">
		insert 
		  into tb_app_ref
		  		(
		  			ref_no
		  		  , appro_no		
		  		  , member_no
		  		  , ref_lvl
		  		)   	
	  	values
	  			(
	  				seq_refno.nextval
	  			  , seq_approNo.currval
	  			  , #{ref}
	  			  , '참조'	
	  			)
   	</insert>
   
   	<insert id="insertOpen">
   		insert 
		  into tb_app_ref
		  		(
		  			ref_no
		  		  , appro_no		
		  		  , member_no
		  		  , ref_lvl
		  		)   	
	  	values
	  			(
	  				seq_refno.nextval
	  			  , seq_approNo.currval
	  			  , #{open}
	  			  , '열람'	
	  			)
   	
   	</insert>
   
   
</mapper>
