<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap id="boardResult" type="Board">
		<id column="board_no" property="boardNo" />
		<result column="board_title" property="boardTitle" />
		<result column="board_writer" property="boardWriter" />
		<result column="count" property="count" />
		<result column="create_date" property="createDate" />
		<result column="origin_name" property="originName" />
		<result column="change_name" property="changeName" />
		<result column="board_content" property="boardContent" />
		<result column="status" property="status" />
		<result column="category" property="category" />
	</resultMap>
	
	<resultMap id="replyResult" type="Reply">
		<id column="reply_no" property="replyNo" />
		<result column="post_no" property="postNo" />
		<result column="member_no" property="memberNo" />
		<result column="reply_content" property="replyContent" />
		<result column="create_date" property="createDate" />
		<result column="status" property="status" />
		
	</resultMap>

	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from tb_board
		 where status = 'Y'
	</select>

	<select id="selectList" resultMap="boardResult">
		select
		       board_no
		     , board_title
		     , board_writer
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , count
		  from tb_board
		 where status = 'Y'
		 and category = '5'
		 order
		    by board_no desc
	</select>
	
		<select id="selectNoticeList" resultMap="boardResult">
		select
		       board_no
		     , board_title
		     , board_writer
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , count
		  from tb_board
		 where status = 'Y'
		 and category = '6'
		 order
		    by board_no desc
	</select>
	
	
	<insert id="insertBoard">
		insert
			into tb_board
			(
			    board_no
			  , category
			  , board_title
			  , board_writer
			  , board_content
			  , origin_name
			  , change_name
			)
			values
			(
				SEQ_BONO.nextval
			  , #{category}	
			  , #{boardTitle}	
			  , #{boardWriter}	
			  , #{boardContent}
			  , #{originName}	
			  , #{changeName}		
			)
	</insert>
	
	<update id="increaseCount">
		update
			tb_board
		set count = count + 1
	  where board_no = #{boardNo}
	  	and status = 'Y'			
	</update>
	
	<select id="selectBoard" resultMap="boardResult">
		select
			   board_no
			 , board_title
			 , board_writer
			 , board_content
			 , to_char(create_date, 'YYYY-MM-DD') as "create_date"
			 , origin_name
			 , change_name
			 , category
		from tb_board
		where board_no = #{boardNo}	 	   	
	</select>
	
	<update id="deleteBoard">
		update
			tb_board
		  set status = 'N'
		 where board_no = #{ boardNo} 	
	</update>
		<update id="updateBoard">
		update
		       tb_board
		   set board_title = #{boardTitle}
		     , board_content = #{boardContent}
		     , origin_name = #{originName}
		     , change_name = #{changeName}
		 where board_no = #{boardNo}     
	</update>
	
	<select id="selectReplyList" resultMap="replyResult">
		select
				r.member_no
			  , r.post_no	
			  , r.reply_no
			  , reply_content 	
			  , to_char(create_date, 'YYYY-MM-DD') as "create_date"
			from tb_reply r
		 inner join tb_member m on (r.member_no = m.member_no) 		
		   where r.status = 'Y'
		    and r.post_no = #{boardNo}
		    order
		     by r.reply_no desc		  
	</select>
	
	<insert id="insertReply">
		insert
			into tb_reply
			(
			reply_no
		  , reply_content
		  , post_no
		  , member_no
		  )
		  values
		  (
		    SEQ_RPNO.nextval
		  , #{replyContent}
		  , #{postNo}
		  , #{memberNo} 
		  )	
			
		
	</insert>

</mapper>