<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap id="boardResult" type="Board">
		<id column="board_no" property="boardNo" />
		<result column="board_title" property="boardTitle" />
		<result column="board_writer" property="boardWriter" />
		<result column="count" property="count" />
		<result column="create_date" property="createDate" />
		<result column="origin_name" property="originName" />
		<result column="change_name" property="changeName" />
		<result column="board_content" property="boardContent" />
		<result column="status" property="status" />
		<result column="category" property="category" />
	</resultMap>

	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from tb_board
		 where status = 'Y'
	</select>

	<select id="selectList" resultMap="boardResult">
		select
		       board_no
		     , board_title
		     , board_writer
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , count
		  from tb_board
		 where status = 'Y'
		 order
		    by board_no desc
	</select>
	
	<insert id="insertBoard">
		insert
			into tb_board
			(
			    board_no
			  , category
			  , board_title
			  , board_writer
			  , board_content
			  , origin_name
			  , change_name
			)
			values
			(
				SEQ_BONO.nextval
			  , #{category}	
			  , #{boardTitle}	
			  , #{boardWriter}	
			  , #{boardContent}
			  , #{originName}	
			  , #{changeName}		
			)
	</insert>
	
	<update id="increaseCount">
		update
			tb_board
		set count = count + 1
	  where board_no = #{boardNo}
	  	and status = 'Y'			
	</update>
	
	<select id="selectBoard" resultMap="boardResult">
		select
			   board_no
			 , board_title
			 , board_writer
			 , board_content
			 , to_char(create_date, 'YYYY-MM-DD') as "create_date"
			 , origin_name
			 , change_name
			 , category
		from tb_board
		where board_no = #{boardNo}	 

			   	
	</select>
	

</mapper>