<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

<resultMap id="memberResult" type="Member">
	<id column="member_no" property="memberNo"/>
	<result column="dept_name" property="deptName"/>
	<result column="job_name" property="jobName"/>
	<result column="position" property="position"/>
	<result column="duty" property="duty"/>
	<result column="name" property="name"/>
	<result column="rrn" property="rrn"/>
	<result column="member_id" property="memberId"/>
	<result column="member_pwd" property="memberPwd"/>
	<result column="email" property="email"/>
	<result column="phone" property="phone"/>
	<result column="address" property="address"/>
	<result column="enroll_date" property="enrollDate"/>
	<result column="leave_off" property="leaveOff"/>
	<result column="profile_url" property="profileUrl"/>
	
</resultMap>

<resultMap id="commuteResult" type="Commute">
<id column="commute_no" property="commuteNo"/>
<result column="name" property="name"/>
<result column="commute_in" property="commuteIn"/>
<result column="commute_out" property="commuteOut"/>
<result column="Commute_date" property="commuteDate"/>
<result column="member_no" property="memberNo"/>
<result column="commute_status" property="commuteStatus"/>
</resultMap>

	<select id="selectListCount" resultType="_int">
		select
				count(*)
			from tb_member
		   where status = 'Y'
	</select>

  <select id="selectAllMember" resultMap="memberResult">
    select
    		member_no,
    		dept_name,
    		job_name,
    		position,
    		duty,
    		name,
    		member_id,
    		member_pwd,
    		RPAD(SUBSTR(rrn, 1, 8), 14, '*') as "rrn",
    		email,
    		phone,
    		address,
    		to_char(enroll_date,'YYYY-MM-DD') as "enroll_date",
    		leave_off,
    		profile_url
    	from tb_member
       where status = 'Y'
    		
  </select>
  
  <select id="detailAllMember" resultMap="memberResult">
    select
    		member_no,
    		dept_name,
    		job_name,
    		position,
    		duty,
    		name,
    		member_id,
    		member_pwd,
    		RPAD(SUBSTR(rrn, 1, 8), 14, '*') as "rrn",
    		email,
    		phone,
    		address,
    		to_char(enroll_date,'YYYY-MM-DD') as "enroll_date",
    		leave_off,
    		profile_url
    	from tb_member
       where status = 'Y'
       and member_no = #{memberNo}
    		
  </select>
  
  <select id="loginUserRrn" resultMap="memberResult">
  	select
  			rrn
  		from tb_member
  	   where member_no = #{memberNo}
  </select>
  
  <select id="loginMember" resultMap="memberResult">
    select
    		member_no,
    		dept_name,
    		job_name,
    		position,
    		duty,
    		name,
    		member_id,
    		member_pwd,
    		rrn,
    		email,
    		phone,
    		address,
    		to_char(enroll_date,'YYYY-MM-DD') as "enroll_date",
    		leave_off,
    		profile_url
    	from tb_member
       where status = 'Y'
       and member_id = #{memberId}
      
    		
  </select>
  
  <select id="selectPwd" resultMap="memberResult">
  	select 
  			member_pwd
  		from tb_member
  	   where member_pwd = #{memberPwd}
  </select>
  
  <update id="changePwd">
  	update
  			tb_member
  		set member_pwd = #{encPwd}
  	   where member_no = #{memberNo}
  </update>
  
   <update id="memberPersonalUpdate">
  	update
  			tb_member
  		set email = #{email},
  			
  			phone = #{phone},
  			
  			address = #{address}
  		where member_no = #{memberNo}
  			
  </update>
  <update id="allMemberUpdate">
  	update
  			tb_member
  		set 
  			
  			job_name = #{jobName},
  			position = #{position},
  			dept_name = #{deptName},
  			duty = #{duty}
  		where member_no = #{memberNo}
  			
  </update>
  
  <insert id="insertCommute">
  	insert
  			into tb_commute
  			(
  				COMMUTE_NO,
				NAME,
				COMMUTE_IN,
				COMMUTE_OUT,
				COMMUTE_DATE,
				MEMBER_NO,
				COMMUTE_STATUS
  			)
  			values
  			(
  				seq_cmn.nextval,
  				#{name},
  				to_char(sysdate, 'HH24:MI'),
  				null,
  				TO_CHAR(SYSDATE, 'YYYY-MM-DD'),
  				#{memberNo},
  				case when round((TO_DATE('09:01', 'HH24:MI') - TO_DATE(to_char(sysdate, 'HH24:MM'), 'HH24:MI')) * 24, 2) <![CDATA[<=]]> 0 then '지각'
				 when round((TO_DATE('09:01', 'HH24:MI') - TO_DATE(to_char(sysdate, 'HH24:MM'), 'HH24:MI')) * 24, 2) <![CDATA[>]]> 0 then '정상근무'
				 end 
  				
  			)
  </insert>
  
  <update id="commuteOut">
  	update
  			tb_commute
  		set commute_out = to_char(sysdate, 'HH24:MI')
  	where commute_no = (select commute_no
						        from(select  commute_no
						                    from tb_commute
						                   where member_no = #{memberNo}
						                   order by commute_no desc)
						    where rownum = 1)	
  </update>
  
  <select id="selectCommute" resultMap="commuteResult">
  	select
  			commute_in,
  			commute_out
  		from tb_commute
  	   where commute_no = (select commute_no
						        from(select  commute_no
						                    from tb_commute
						                   where member_no = #{memberNo}
						                   order by commute_no desc)
						    where rownum = 1)
  		
  </select>
  
  
  
  
</mapper>