<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="notieMapper">

<resultMap id="noticeResult" type="Notice">
	<reusult column="" property="" />
	<reusult column="" property="" />
	<reusult column="" property="" />
	<reusult column="" property="" />
	<reusult column="" property="" />
	<reusult column="" property="" />
	<reusult column="" property="" />
</resultMap>
<select id="selectListCount" resultType="_int">
	select
			count(*)
		from notice
		where status = 'Y'		
</select>

<select id="selectLict0 result="">
	select
			notice_no
		  , notice_title 	
		  , notice_writer
		  , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		  , count
		from notice
		where status = 'Y'
		order
		 by notice_no desc		  
</select>

</mapper>