<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="projectMapper">

	<resultMap type="Project" id="projectResult">
		<id column="project_no"  property="projectNo" />
		<result column="owner"  property="owner" />
		<result column="project_title"  property="projectTitle" />
		<result column="project_content"  property="projectContent" />
		<result column="public_status"  property="publicStatus" />
		<result column="create_date"  property="createDate" />
		<result column="status"  property="status" />
		<result column="like" property="like" />
		<result column="count" property="count" />
		<result column="participant" property="participant" />
	</resultMap>
	
	<resultMap type="Like" id="likeResult">
		<result column="member_no" property="memberNo" />
		<result column="project_No" property="projectNo" />
		<result column="like_date" property="likeDate" />
	</resultMap>

	<select id="selectListCount" resultType="_int">
		select
			   count(*)
		  from tb_project
		 where status = 'Y'
	</select>
	
	<select id="selectProjectList" resultMap="projectResult">
		select
		       project_no
		     , name owner
		     , project_title
		     , public_status
		     , (select 
		               count(*) 
		          from tb_like l 
		         where l.member_no = 1
		           and project_no = p.project_no) "LIKE"
		     , (select
		               count(*)
		          from tb_projectmember pm
		         where pm.status = 1
		           and project_no = p.project_no) "COUNT"
		  from tb_project p
		  join tb_member on (owner_no = member_no)
		 where p.status = 'Y'
		 order
		    by p.project_no desc
	</select>
	
	<insert id="insertProject">
		insert
		  into tb_project
		  (
		  	project_no
		  , owner_no
		  , project_title
		  , project_content
		  , public_status
		  ) 
		  values
		  (
		  	seq_pjno.nextval
		  , #{owner}
		  , #{projectTitle}
		  , #{projectContent}
		  , #{publicStatus}
		  )
	</insert>
	
	<insert id="insertLike">
		insert
		  into tb_like
		  (
		  	member_no
		  , project_no
		  , like_date
		  )
		  values
		  (
		  	#{memberNo}
		  , #{projectNo}
		  , sysdate
		  )
	</insert>
	
	<delete id="deleteLike">
		delete
		  from tb_like
		 where member_no = #{memberNo}
		   and project_no = #{projectNo}
	</delete>
	
	<select id="selectSearchListCount" resultType="_int">
		select
			   count(*)
		  from tb_project p
		  join tb_member on (owner_no = member_no)
		 where p.status = 'Y'
		 	<if test="condition == 'title'">
		 		and project_title
		 	</if>
		 	<if test="condition == 'participant'">
		 		and name
		 	</if>
		 		like '%' || #{keyword} || '%'
	</select>
	
	<select id="searchProject" resultMap="projectResult">
		select distinct
		       p.project_no
		     , mm.name owner
		     , project_title
		     , public_status
		     , (select 
		               count(*) 
		          from tb_like l 
		         where l.member_no = #{memberNo}
		           and project_no = p.project_no) "LIKE"
		     , (select
		               count(*)
		          from tb_projectmember pm
		         where pm.status = 1
		           and project_no = p.project_no) "COUNT"
		  from tb_projectmember pm
		  join tb_member m on (pm.member_no = m.member_no)
		  right join tb_project p on (p.project_no = pm.project_no)
		  join tb_member mm on (owner_no = mm.member_no)
		 where p.status = 'Y'
		 	<if test="condition == 'title'">
		 		and project_title
		 	</if>
		 	<if test="condition == 'participant'">
		 		and mm.name like '%' || #{keyword} || '%'
		    	or m.name
		 	</if>
		 		like '%' || #{keyword} || '%'
		 order
		    by p.project_no desc
	</select>
	
	<select id="selectMyListCount" resultType="_int">
		select
		       count(*)
		  from (select distinct
		           p.project_no
		      from tb_project p
		      left join tb_projectmember pm on (p.project_no = pm.project_no)
		     where owner_no = #{memberNo}
		        or member_no = #{memberNo}
		       and p.status = 'Y')
	</select>
	
	<select id="selectMyProjectList" resultMap="projectResult">
		select distinct
		       p.project_no
		     , name owner
		     , project_title
		     , public_status
		     , (select 
		               count(*) 
		          from tb_like l 
		         where l.member_no = 1
		           and project_no = p.project_no) "LIKE"
		     , (select
		               count(*)
		          from tb_projectmember pm
		         where pm.status = 1
		           and project_no = p.project_no) "COUNT"
		  from tb_project p
		  left join tb_projectmember pm on (p.project_no = pm.project_no)
		  join tb_member m on (p.owner_no = m.member_no)
		 where p.status = 'Y'
		   and p.owner_no = #{memberNo}
		    or pm.member_no = #{memberNo}
		 order
		    by p.project_no desc
	</select>
	
	<select id="searchMyProjectList">
		select distinct
		       project_no, owner
		  from (
		        select distinct
		               project_no, mm.name owner, m.name participant
		          from tb_projectmember pm
		          join tb_member m on (pm.member_no = m.member_no)
		          join tb_project p using (project_no)
		          join tb_member mm on (owner_no = mm.member_no)
		         where p.status = 'Y'
		           and owner_no = #{memberNo}
		            or pm.member_no = #{memberNo}
		        )
		  where participant like '%' || #{keyword} || '%'
		    or owner like '%' || #{keyword} || '%'
	</select>

</mapper>
