<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="scheduleMapper">

	<resultMap id="scheduleResult" type="Schedule">
		<id column="schedule_no" property="scheduleNo" />
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="sc_title" property="scTitle" />
		<result column="sc_content" property="scContent" />
		<result column="status" property="status" />
		<result column="write_date" property="writeDate" />
		<result column="member_no" property="memberNo" />
		<result column="calendar_no" property="calendarNo" />
		<result column="allday" property="allday" />
		<result column="SC_COLOR" property="scColor" />
	</resultMap>
	
	<resultMap id="CalendarResult" type="Calendar">
		<id column="CALENDAR_NO" property="calendarNo" />
		<result column="MY_CALENDAR" property="myCalendar" />
		<result column="SC_COLOR" property="scColor" />
		<result column="MEMBER_NO" property="memberNo" />
	</resultMap>
	
	<!-- 새 일정 추가 -->
	<insert id="addScheduleModal" parameterType="Schedule">
		insert 
		  into tb_m_schedule
			 (
			   schedule_no
			 , start_date
			 , end_date
			 , start_time
			 , end_time
			 , sc_title
			 , sc_content
			 , status
			 , write_date
			 , member_no
			 , calendar_no
			 , allday
		     ) 
        values
             (
			  seq_sno.nextval
			, #{startDate}
			, #{endDate}
			, #{startTime}
			, #{endTime}
			, #{scTitle}
			, #{scContent}
			, 'Y'
			, SYSDATE
			, #{memberNo}
			, #{calendarNo}
			, #{allday}
		    )
	</insert>
	
	<!-- 내 캘린더 추가 -->
	<insert id="addCalendarModal" parameterType="Calendar">
		insert 
	      into tb_category
	         (
			   calendar_no
			 , my_calendar
			 , sc_color
			 , member_no
		     ) 
		values 
		     (
			   seq_cno.nextval
			 , #{myCalendar}
			 , #{scColor}
			 , #{memberNo}
			 )
	</insert>
	
	<!-- 내 캘린더 목록 -->
	<select id="calendarList" resultMap="CalendarResult">
		select 
		       calendar_no
		     , my_calendar
		     , sc_color
		     , member_no
		  From tb_category
		 where 1=1
		   and member_no = #{memberNo}
	</select>
	
	<!-- 내 캘린더 수정 화면 -->
	<select id="calendarModifyModal" resultMap="CalendarResult">
		select
			   calendar_no
			 , my_calendar
			 , sc_color
			 , member_no
		  from tb_category
		 where 1=1
		   and calendar_no = #{calendarNo}
		   and member_no = #{memberNo}
	</select>
	
	<!-- 내 캘린더 수정 -->
	<update id="updateCalendar">
		update tb_category
		   set
			   my_calendar = #{myCalendar},
			   sc_color = #{scColor}
		 where 1=1
		   and calendar_no = #{calendarNo}
		   and member_no = #{memberNo}
	</update>
	
	<!-- 내 캘린더 삭제 -->
	<delete id="deleteCalendar">
		delete
		  from tb_category
		 where calendar_no = #{calendarNo}
		   and member_no = #{memberNo}
	</delete>
	
	<!-- 스케줄 목록 조회 -->
	<select id="scheduleList" resultMap="scheduleResult">
		select 
		       schedule_no
			 , start_date
			 , end_date
			 , start_time
			 , end_time
			 , sc_title
			 , sc_content
			 , status
			 , write_date
			 , s.member_no
			 , calendar_no
			 , sc_color
		From tb_m_schedule s
        join tb_category c using(calendar_no)
        where s.member_no = 1
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>